<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="amazon.Navigation"/>
      <class name="amazon.AppTest"/>
      <class name="amazon.SearchValidate"/>
      <class name="amazon.HomePage"/>
      <class name="amazon.ValidateTitle"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
